@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-7">
        <h2>公司介紹</h2>
        <ol>
            <li>demoshop <a href="http://demoshop.tw">http://demoshop.tw</a></li>
            <li>SkillTree <a href="https://skilltree.my">https://skilltree.my</a></li>
            <li>twMVC <a href="https://mvc.tw">https://mvc.tw</a></li>
            <li>Dotblogs <a href="https://dotblogs.com.tw">https://dotblogs.com.tw</a></li>
            <li>demo blog <a href="http://demo.tc">http://demo.tc</a></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
    <div class="col-md-4">
        <iframe width="448" height="277" src="https://www.youtube.com/embed/yY-ZO5fQRCo" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>分享程式碼</h2>
        <code>if(Me.Today==Me.Yesterday)Me.Tomorrow==null;</code>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>關於我們</h2>
        <code>SkillTree 是電魔小鋪有限公司（54158837）旗下的組織，專門舉辦教育訓練、研討會、企業內訓以及不定時開授技術課程。
取名為 SkillTree（技能樹）主要是受到遊戲的影響，在現實中完成一個任務（工作）往往需要許多的技能互相搭配才能完成，而許多技能在學習之前還要學習前置技能，因此形成所謂的技能樹，我們想幫助卡關的朋友可以從基礎技能開始點起進而提升自我等級，因此我們成立了 SkillTree ，與其他教育單位的差別在我們的課程將包含許多實務上的經驗，讓所學可以發揮於職場。
</code>
    </div>
</div>